# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.Release
*.mp4
*qml.cpp
*qmlcache.qrc
*Release
*Debug
*.Debug

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*



SpyCProject/SpyC/object_script.SpyC.Release
SpyCProject/SpyC/object_script.SpyCd.Debug
DroneManager/moc/moc_predefs.h
DroneManager/moc/moc_predefs.h
SpyCProject/.qmake.stash
SpyCProject/bin/spyclib.exp
SpyCProject/.qmake.stash
SpyCProject/moc/moc_predefs.h
SpyCProject/moc/moc_predefs.h
DroneManager/bin/spyclibd.exp
DroneManager/moc/moc_predefs.h
SpyCProject/.qmake.stash
*.stash
SpyCProject/.qmake.stash
SpyCProject/moc/moc_predefs.h
DroneManager/.qmake.stash
SpyCProject/SpyC/object_script.SpyC.Release
SpyCProject/SpyC/object_script.SpyC.Release
SpyCProject/SpyC/object_script.SpyCd.Debug
*.Release
*.Debug
